@charset "UTF-8";

header {
    display: flex;
}

header nav {
    margin: 0 0 0 auto;
}
header nav ul {
    list-style-type: none;
    margin: 0px 0;
    padding: 0;
    display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
header nav ul li a:hover {
    color: #888;
}


main .title h1{
	position: relative;
  padding: 0.6em;
  background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
  background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
  border-radius: 7px;
  font-family: 'arial black';
}
main .title h1:after {
  position: absolute;
  content: '';
  top: 100;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #ffebbe;
  width: 0;
  height: 0;
}



main .title h1{
	margin: 0;
	line-height: 1;
	font-size: 45px;
}

main .title ol {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    display: flex;
}
main .title ol li {
    font-size: 13px;
}
main .title ol li::after {
    content: ">";
    margin: 0 5px 0 10px;
}
main .title ol li:last-child::after {
    content: none;
}

/* 左の枠  */
.left-column {

  float: left;
    width: 30%;
    padding: 1em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}


.kensaku main .jouken table {
    width: 90%;
	height: 70px;
    text-align: center;
}
.kensaku main table,
.kensaku main table th,
.kensaku main table td {
    border: solid 1px #ccc;
    border-collapse: collapse;
}
.kensaku main table td {
    padding: 6px;
}
.kensaku main table th{
    background: #f7f0f0;
    color: #cd853f;
}





p.submit{
	text-align: center
}

input[type="submit"]{
	display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
	cursor: pointer;
}
input[type="submit"]:hover{
	background: #67c5ff;
  color: white;
}

/*  右の枠   */
.right-column {

  float: right;
	float : right;
	width: 750px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

@media screen and (min-width: 641px){ /* PC用 */

    /* PC用固有の設定をここに移動 */
    body {
        min-width: 900px;
    }

    .flexbox-container {
        display: flex;
    }

    main {
        width: 100%;
        min-width: 600px;
        max-width: 1000px;
        margin: auto;
        background-color: lightgreen;
        height: 300px;
    }

    aside {
        width: 300px;
        min-width: 300px;
        margin: auto;
        background-color: lightpink;
        height: 300px;
    }

}

@media screen and (max-width: 640px){ /* スマートフォン用 */

    /* スマートフォン用固有の設定をここに記述 */
    main {
        background-color: lightgreen;
        height: 300px;
    }

    aside {
        background-color: lightpink;
        height: 300px;
    }

}