@charset "UTF-8";

header {
    display: flex;
}

header nav {
    margin: 0 0 0 auto;
}
header nav ul {
    list-style-type: none;
    margin: 0px 0;
    padding: 0;
    display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
header nav ul li a:hover {
    color: #888;
}


main .title h1{
	position: relative;
  padding: 0.6em;
  background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
  background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
  border-radius: 7px;
  font-family: 'arial black';
}
main .title h1:after {
  position: absolute;
  content: '';
  top: 100;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #ffebbe;
  width: 0;
  height: 0;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  position: relative;
  display: inline-block;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
  margin-right: 0.3em;
}
.breadcrumb li:after {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  border-style: solid;
  border-color: transparent;
  border-left-color: #feebcc;
  border-width: 7px 12px;
  width: 0;
  height: 0;
}

.breadcrumb li a {
  display: inline-block;
  padding: 0 7px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #9b9b9b;
  background: #feebcc;
  font-size: 13px;
  border-radius: 20px;
  transition: 0.3s;
}

.breadcrumb li a:hover {
  transform: translateY(-3px);
}

main .title{
	
	
}

main .title h1{
	margin: 0;
	line-height: 1;
	font-size: 45px;
}

main .title ol {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    display: flex;
}
main .title ol li {
    font-size: 13px;
}
main .title ol li::after {
    content: ">";
    margin: 0 5px 0 10px;
}
main .title ol li:last-child::after {
    content: none;
}


.kensaku main .jouken {
	width: 25%;
	height: 500px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}



.kensaku main .jouken table {
    width: 90%;
	height: 70px;
    text-align: center;
}
.kensaku main table,
.kensaku main table th,
.kensaku main table td {
    border: solid 1px #ccc;
    border-collapse: collapse;
}
.kensaku main table td {
    padding: 60px;
}
.kensaku main table th{
    background: #f7f0f0;
    color: #cd853f;
}





p.submit{
	text-align: center
}

input[type="submit"]{
	display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
	cursor: pointer;
}
input[type="submit"]:hover{
	background: #67c5ff;
  color: white;
}



.kensaku main .kekka {
      width : 50px ;
      height : 850px ;
}

.kensaku main .kekka{
	position:relative;
	bottom: 590px;
		 float : right;
}


.kensaku main .kekka {
	width: 60%;
	height: 900px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

@media screen and (min-width: 641px){ /* PC用 */

    /* PC用固有の設定をここに移動 */
    body {
        min-width: 900px;
    }

    .flexbox-container {
        display: flex;
    }

    main {
        width: 100%;
        min-width: 600px;
        max-width: 1000px;
        margin: auto;
        background-color: lightgreen;
        height: 300px;
    }

    aside {
        width: 300px;
        min-width: 300px;
        margin: auto;
        background-color: lightpink;
        height: 300px;
    }

}

@media screen and (max-width: 640px){ /* スマートフォン用 */

    /* スマートフォン用固有の設定をここに記述 */
    main {
        background-color: lightgreen;
        height: 300px;
    }

    aside {
        background-color: lightpink;
        height: 300px;
    }

}