@charset "UTF-8";

header {
    display: flex;
}

header nav {
    margin: 0 0 0 auto;
}
header nav ul {
    list-style-type: none;
    margin: 0px 0;
    padding: 0;
    display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
header nav ul li a:hover {
    color: #888;
}

/*タイトル*/
main .title h1{
  position: relative;
  padding: 0.25em;
  text-align:center;
  background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
  background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
  border-radius: 7px;
  font-family: "Kokoro", cursive;
}
main .title h1:after {
  position: absolute;
  content: '';
  top: 100;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #ffebbe;
  width: 0;
  height: 0;
}

	
}

main .title h1{
	margin: 0;
	line-height: 1;
	font-size: 45px;
}

main .title ol {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    display: flex;
}
main .title ol li {
    font-size: 13px;
}
main .title ol li::after {
    content: ">";
    margin: 0 5px 0 10px;
}
main .title ol li:last-child::after {
    content: none;
}

p.submit{
	text-align: center
}

/*背景設定*/
.example {/*親div*/
  position: relative;/*相対配置*/
  }

.example .box3{
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 0;
  left: 0;
  }

.example mypic{
  width: 100%;
  }


/*チェックボックス*/
.home main .box1 {
    padding: 0.5em 1em;
    margin: 2em 1em;
    color: #000;
    background: #33FF66;
    border-bottom: solid 6px #33FF33;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: relative;
    width: 310px;
    font-size: 20px;
    font-family: "serif";
}
.home main .box1 p {
    margin: 0; 
    padding: 0;
    position: absolute;
}

/*フリーワード検索*/
.home main .box2{
    padding: 0.5em 0.5em;
    margin: 2em 1em;
    color: #000;
    background: #66FFCC;
    border-bottom: solid 6px #66FFCC;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-family: 'arial black';
    position: relative;
    width: 180px;
    font-size: 20px;
    font-family: "serif";
}
.home main .box2 p {
    margin: 0; 
    padding: 0;
}

/*入力エリア*/
.box{
 width:500px;
 height:10px;
 position: absolute;
 left: 200px;
 border: 1px solid #666666;
 background-color: #CCCCFF;
 padding: 1em 0.5em;
 margin: 1em 1em;
}

/*検索ボタン*/
.a{
width:100px;
 height:50px;
 position: absolute;
 padding: 1em 0.5em;
 margin: 0.9em 1em;
 left: 800px;
}


/*フッター*/
.foot{
    position: relative;
    bottom: 0;
    border: 1px solid #666666;
    padding: ;
    margin: 10px;
}







